@import "../css/normalize.css";
@import "libraries/bourbon/bourbon";
@import "libraries/neat/neat.scss";

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$paleblue: #dee3e7;
$teal: #597485;
$darkblue: #022b61;

body    {
    font: 100% $font-stack;
    @include span-columns(12);
}

header  {
    background-color: $paleblue;
    margin-bottom: 20px;
}

header img.logo {
    @include span-columns(2);
}

.banner {
    @include span-columns(10);
}

.banner nav  {
}

.banner nav ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.banner nav ul li {
    float: left;
    margin: 0 5px 0 0;
}

.banner nav ul li a {
    display: block;
    padding: .5em 2em .5em 0;
    color: $teal;
}

.banner nav ul li a:hover {
    color: white;
}

.banner nav ul li ul {
    display: none;
}

.banner nav ul li:hover ul, .banner nav ul li.hover ul {
    position: absolute;
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
}

.banner nav ul li:hover li {
    float: left;
}

.banner nav ul li:hover li a {
    color: $teal;
}

.banner nav ul li li a:hover {
    color: white;
}

section.main {
    margin-bottom: 20px;
}

footer  {
    background-color: $darkblue;
    color: white;
}

// to contain page contents
.page-width{
    @include outer-container(90%);
    border: thin solid green;
}

// for left column of stacked boxes
aside.boxes {
    @include span-columns(4);
    border: thin solid blue;
}

#content {
    @include span-columns(8);
    border: thin solid red;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.menu li {
    @include span-columns(2 of 8);
    @include omega(4n);
    margin-bottom: 2em;
    height: 225px;
    background-color: #899ba7;
}
ul.menu li h4   {
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: 1px;
    color: white; 
}