@import "../css/normalize.css";
@import "libraries/bourbon/bourbon";
@import "libraries/neat/neat.scss";

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$paleblue: #dee3e7;
$teal: #597485;
$darkblue: #022b61;

body    {
    padding: 1%;
    font: 100% $font-stack;
}

#main{
    @include outer-container(1900px);
}

#top-row{
    @include span-columns(12);
}

#banner{
    background-color: $paleblue;
    @include span-columns(12 of 12);
}

#main-content{
    @include span-columns(12);
    padding-top: 20px;
}

#side-box   {
    @include span-columns(4 of 12);
    background-color: $paleblue;
    padding: 0 1.25em 1em 1.25em;
    border-radius: 25px;
}

#page-area  {
    @include span-columns(8 of 12);
}

#bottom-row {
    @include span-columns(12);
    background-color: $darkblue;
    color: white;
}

#indigo {
    @include span-columns(4 of 12);
    @include shift(8 of 12);
}
#red, #orange, #yellow, #green, #blue, #indigo  {
    @media screen and (max-width: 768px){
        @include span-columns(12 of 12);
        @include shift(0 of 12);
    }
}
ul.menu {
    list-style-type: none;
    margin-top: 0;
}
ul.menu li {
    @include span-columns(2);
    margin-bottom: 2em;
    margin-right: 1em;
    padding: 1em;
    height: 225px;
    background-color: #899ba7;
}
ul.menu li h4   {
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: 1px;
    color: white; 
    padding: 0 5px 5px 5px;
    margin-top: -10px;
}
ul.menu img.img-responsive  {
    /*box-shadow: 5px 5px 0px #cbcbcb;*/
}
ul.menu li a:link   {
}
ul.menu img.img-responsive:hover    {
    opacity:0.65;
}